body {
    display: flex;
    background: url(fundo.jpg) no-repeat;
    background-size: 100%;
}



.prof-ft {
    width: 450px;
    padding: 100px;
    transform: rotate(-4deg);
    position: absolute;
}


.simbolo2 {
    position: relative;
    bottom: 46%;
    margin-left: 80px;
}

.estrela {
    width: 100px;
    position: relative;
    top: 7%;
    margin-right: 80px;
}

.textos{
    position: absolute;
}

footer{
    position: absolute;
}