@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    display: flex;
    background: url(fundo.jpg) no-repeat;
    background-size: 100%;
}



.prof-ft {
    width: 450px;
    padding: 100px;
    transform: rotate(-3deg);
    position: absolute;
}


.simbolo2 {
    position: relative;
    bottom: 46%;
    margin-left: 80px;
}

.estrela {
    width: 1100px;
    position: relative;
    top: 25%;
    margin-left: -400px;
    transform: rotate(13deg);

}


.nome {
    color: #ffffff;
    font-size: 100px;
    font-family: "Lora", serif;
    font-weight: lighter;
    position: relative;
    top: 10%;
    margin-left: auto;
}

footer{
    position: absolute;
}

