body {
    display: flex;
    background: url(fundo.jpg) no-repeat;
}

.prof-ft {
    width: 500px;
    padding: 150px;
    transform: rotate(-4deg);
    position: absolute;
}

.simbolo2 {
    position: relative;
    bottom: 25%;
    margin-left: 80px;
}

