
body {
    display: flex;
    background: url(fundo.jpg) no-repeat;
    background-size: 100%;
}



.prof-ft {
    width: 450px;
    padding: 80px;
    transform: rotate(-3deg);
    position: absolute;
}


.simbolo2 {
    position: relative;
    bottom: 46%;
    margin-left: 80px;
}

.estrela {
    width: 1000px;
    position: relative;
    top: 19%;
    margin-left: -380px;
    transform: rotate(13deg);

}

.textos {
    position: relative;
}
.nome {
    color: white;
    font-size: 120px;
    font-weight: normal;
    position: relative;
    top: 8%;
    right: 225%;
    
}

.sobrenome {
    color: white;
    font-size: 70px;
    font-weight: normal;
    position: relative;
    top: 4%;
    right: 215%;
}

.info {
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0;
}

footer{
    position: absolute;
}

