
body {
    display: flex;
    background: url(fundo.jpg) no-repeat;
    background-size: 100%;
}



.prof-ft {
    width: 450px;
    padding: 80px;
    transform: rotate(-3deg);
    position: absolute;
}


.simbolo2 {
    position: relative;
    bottom: 46%;
    margin-left: 80px;
}

.estrela {
    width: 1000px;
    position: relative;
    top: 19%;
    margin-left: -380px;
    transform: rotate(13deg);

}

.textos {
    position: relative;
}
.nome {
    color: white;
    font-size: 110px;
    font-weight: normal;
    position: relative;
    top: 8%;
    right: 200%;
    
}

.sobrenome {
    color: white;
    font-size: 70px;
    font-weight: normal;
    position: relative;
    top: 3%;
    right: 192%;
}

.info {
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0;
}

.info2 {
    margin-top: -8%;
    color: #8f2bbd;
    font-size: 30px;
    right: inherit;
    margin-left: -70%;
    margin-right: 50%;
}

.tesoura {
    width: 40%;
    
}
footer{
    position: absolute;
}

